 

//custom variables >>>
$greenMedium: #114a57; //green
$greenLight: #279DB9;  
//<<< custom variables

$global-radii-blocks: 4px;

// Layout 
$containerMaxWidth: 980px; 
$rowMaxWidth: 940px;

$bodyBackgroundColor: #0B313A;
$contentBackgroundColor: #ffffff;
$footerContainerBackgroundColor: none;
$footerBackgroundColor: black;
$copyrightContainerBackgroundColor: $footerContainerBackgroundColor;
$copyrightBackgroundColor: $footerBackgroundColor; 
$mainBackgroundColor: #ffffff;
$sidebarBackgroundColor: #ffffff;

// Typography
$baseFontFamily: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$baseFontSize: 12px;
$baseLineHeight: 20px;
$textColor: #3C3C3C;
$headingFontFamily: $baseFontFamily;
$headingTextColor: $textColor;
$headingBaseFontSize: 26px;

// Links
$linkColor: $greenMedium;
$linkColorHover: #196f83;
$linkColorActive: #196f83;

// Nav base 
$navLinkColor: $greenLight;
$navLinkColorHover: $greenMedium;
$navLinkColorActive: $navLinkColorHover;
$navBackgroundColor: transparent;
$navBackgroundColorHover: $navBackgroundColor;
$navBackgroundColorActive: $navBackgroundColor;

// Navbar
$navbarBackgroundHighlight: $bodyBackgroundColor;
$navbarBackground: $bodyBackgroundColor;
$navbarText: $textColor;
$navbarLinkColor: white;
$navbarLinkColorHover: $greenLight;
$navbarLinkColorActive: $navbarLinkColorHover;
$navbarLinkSpace: 8px;
$navbarLinkBackgroundColor: black;
$navbarLinkBackgroundColorHover: $navbarLinkBackgroundColor;
$navbarLinkBackgroundColorActive: white;
$navbarLinkCorner: 8px 8px 0 0;
$navbarButtonBackgroundHighlight: $navbarBackgroundHighlight; 
$navbarButtonBackground: black; 
$navbarButtonIconBarColor: white;
$navbarResponsiveLinkBorder: lighter($navbarLinkColor, 15%);
$navbarDropdownBackground: $navbarBackground;
$navbarDropdownLinkColor: $navbarLinkColor;
$navbarDropdownLinkColorHover: $navbarLinkColorHover;
$navbarDropdownLinkColorActive: $navbarLinkColorActive; 

// Footer links
$footerLinkColor: white;
$footerLinkColorHover: $greenLight;
$footerLinkColorActive: #fff;
$footerResponsiveLinkBorder: lighter($footerLinkColor, 15%);
 
// Form
$inputTextColor: $textColor;
$inputBackgroundColor: $bodyBackgroundColor;
$inputBorderColor: $textColor;
$inputFocusBorderColor: rgba(82, 168, 236, 0.8); 
$inputBorderRadius: 3px; 

// Grid
$blockGridImageBorder: none;
$blockGridImageBackgroundColor: transparent; 
$blockGridBackgroundColor: transparent; 
$blockGridImageCorner: none;
$blockGridImageShadow: none;

// Icon
$pdfIcon: 'gko/icon_pdf_white_x110.png';

@import "gko_public_all"; 
@import "gko/elastislide"; 
/*-----------------------------------------
   Overwritte
----------------------------------------- */ 

/*-----------------------------------------
   Structure
----------------------------------------- */
.row-fluid#content {
	padding-top: 60px;
}

/*-----------------------------------------
   BANNERS
----------------------------------------- */

/*-----------------------------------------
   HEADER
----------------------------------------- */ 
.navbar {
	margin-bottom: 0;
}
.navbar .row-fluid {
	position: relative;
	height: 300px;
}
.navbar-inner {
	height: 300px;
	position:relative;
}
.navbar .brand {
	position: absolute;
	top:0px;
	left:0px;
	z-index:2;
	@include logo(386px, 136px);
} 
#banners { 
	position: absolute;
	max-height: 300px;
	bottom:0px;
	left:0px;
	overflow:hidden;
	z-index:1; 
	background-color: $contentBackgroundColor;
	.carousel-control {
		display: none;
	}
}
.navbar .header-nav {
	height: 300px;
	position: relative; 
	z-index:2;
	
}
.nav-collapse {
	position: absolute;
	bottom: 0;
} 
.navbar .header-top .nav > li > a {
padding: 0;
}
.navbar .header-top {
	position:absolute; 
	z-index: 2;
	width: auto;
	min-width: 1px;
	right: 0;
	top: 20px;
	a {
		border-left: 4px solid white;
		border-top: 4px solid white;
		border-bottom: 4px solid white;
		text-indent: -9999px;
		width:30px;
		display:block;
		&.fr {
			background: transparent asset-url('fr_flag.png', image) no-repeat 0 0;
		}
		&.en {
			background: transparent asset-url('en_flag.png', image) no-repeat 0 0;
		}
	}
}
/*-----------------------------------------
   Sidebar
----------------------------------------- */
#sidebar {
	h3 {
		font-size: 18px;
		a {
			padding: 9px 0px 9px 40px;
			background: asset_url("compass_icon.gif", image) no-repeat 0 0;
			&#echo {
				background-image: asset_url("pin_icon.gif", image);
			}
		}
	}
}
#left_sidebar { 
	.nav > li {
		border-top: 1px solid #ccc;
		line-height: 28px;
		&:first-child {
			border-top: none;
		}; 
	}

}


nav#pipe-menu {
	.nav-bar {
		margin-top: 0px;
	}
}
/*-----------------------------------------
   site infos
----------------------------------------- */ 
#site-infos {
	margin-left: -20px;
	margin-right: -20px;
	padding-top: 12px;
	overflow:hidden;
	a { 
		float:right;
		margin-right: 20px; 
	}
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "gko/responsive";